<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="kwetter_test">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/kwetter_test_pool</jta-data-source>

        <class>nl.robinlaugs.kwetter.domain.BaseEntity</class>
        <class>nl.robinlaugs.kwetter.domain.Account</class>
        <class>nl.robinlaugs.kwetter.domain.User</class>
        <class>nl.robinlaugs.kwetter.domain.Message</class>
        <class>nl.robinlaugs.kwetter.domain.Topic</class>

        <properties>
            <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
        </properties>
    </persistence-unit>
</persistence>